<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.DispatchCasedataMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.DispatchCasedata">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="caseid" jdbcType="BIGINT" property="caseid" />
    <result column="casename" jdbcType="VARCHAR" property="casename" />
    <result column="apiparam" jdbcType="VARCHAR" property="apiparam" />
    <result column="propertytype" jdbcType="VARCHAR" property="propertytype" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
    <result column="paramstype" jdbcType="VARCHAR" property="paramstype" />
    <result column="mid" jdbcType="BIGINT" property="mid" />
    <result column="encyptype" jdbcType="VARCHAR" property="encyptype" />
    <result column="apiparamvalue" jdbcType="LONGVARCHAR" property="apiparamvalue" />
  </resultMap>
</mapper>