<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.RegistercenterinterfaceMapper">
  <resultMap id="BaseResultMap" type="com.zoctan.api.entity.Registercenterinterface">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="interfacename" jdbcType="VARCHAR" property="interfacename" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="dgroup" jdbcType="VARCHAR" property="dgroup" />
    <result column="projectid" jdbcType="BIGINT" property="projectid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastmodify_time" jdbcType="TIMESTAMP" property="lastmodifyTime" />
  </resultMap>

  <select id="findDicWithName" resultMap="BaseResultMap">
    SELECT a.*
    FROM registercenterInterface a
    <where>
      <if test="interfacename != null  and interfacename != ''">a.interfacename like CONCAT('%',#{interfacename},'%')</if>
      <if test="projectid != null  and projectid != ''">and a.projectid =#{projectid}</if>
    </where>
    order by lastmodify_time  DESC
  </select>
</mapper>